a {
  text-decoration: none;
}

.search-text {
  width: 100%;
}

.search-month {
  width: 100%;
}

.date-picker {
  width: 100%;
}

th, td {
  border: 1px solid #b9b9b9;
}

table {
  overflow-x: scroll;
}

.table-wrapper {
 overflow-x: scroll;
}

.table-wrapper::-webkit-scrollbar {
  display: none;
}

.red-row {
  background-color: #ff000033;
}

@media screen and (max-width: 768px) {
  .search-text {
    width: 100%;
  }

  .date-picker {
    width: 100%;
  }
}

.expired {
  background: rgba(255, 0, 0, 0.46);
}
