{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Pdf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'pdf.css' %}"/>
</head>
<body class="container">
<a href="{{path}}" class="btn btn-success mt-5" download>
    <img src="{% static 'pdf.png' %}" width="25px" alt="pdf download">
    Download
</a>

<div class="table-wrapper">
    <table class="table table-striped mt-3" id="example-table">
        <thead>
        <tr>
            <th>Sr. No</th>
            <th>Username</th>
            <th>Client Name</th>
            <th>Server</th>
            <th>Payment Recieved</th>
            <th>Payment Type</th>
            <th>Phone No.</th>
            <th>Expiry</th>
            <th>Buy</th>
            <th>Sell</th>
        </tr>
        </thead>
        <tbody>
        {% for user in userdata %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{user.username}}</td>
            <td>{{user.clientname}}</td>
            <td>{{user.server}}</td>
            <td>{{user.paymentRecieved}}</td>
            <td>{{user.paymentType}}</td>
            <td>phone value</td>
            <td>{{user.date}}</td>
            <td>buy value</td>
            <td>sell value</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>International Profit</strong></td>
            <td>45100</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Asia Profit</strong></td>
            <td>78400</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total Profit</strong></td>
            <td>10000</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="{% static 'main.js' %}"></script>
</body>
</html>