{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'search.css' %}"/>
</head>
<body class="container">
  <a class="btn btn-secondary mt-4" href="/"> < Go Back</a>
  <h1 class="display-4 mt-2">Search records</h1>

  <form method="POST" action="{% url 'downloadReport' %}"> 
    {% csrf_token %}  
    <div class="filter-search-section d-flex gap-3 mt-3 flex-md-row flex-column">
      <div class="search-text">
        <label for="filter" class="mb-1 text-secondary">Search by Name</label>
        <div class="input-group">
          <input type="text" placeholder="Search" name="customerName" class="form-control" id="filter">
          <span class="input-group-text">
            <img src="{% static 'search.png' %}" width="25px" alt="Search Icon">
          </span>
        </div>
      </div>

      <div class="search-month">
        <label for="filter" class="mb-1 text-secondary">Search by month</label>
        <select  name="monthfilter" id="month-filter"class="form-select">
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>

      <div class="date-picker">
        <label for="tbdate" class="mb-1 text-secondary">Search by date</label>
        <div class="input-group">
          <input type="date" name="date" class="form-control" placeholder="Profit" id="tbdate">
        </div>
      </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-success mt-3">
  </form>

  <div class="table-wrapper">
    <table class="table table-striped mt-5" id="example-table">
      <thead>
      <tr>
        <th>Sr. No</th>
        <th>Username</th>
        <th>Client Name</th>
        <th>Server</th>
        <th>Payment Recieved</th>
        <th>Payment Type</th>
        <th>Phone No.</th>
        <th>Expiry</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      {% for user in userdata %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{user.username}}</td>
        <td>{{user.clientname}}</td>
        <td>{{user.server}}</td>
        <td>{{user.paymentRecieved}}</td>
        <td>{{user.paymentType}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.date}}</td>
        <td><a href="{% url 'deleteUserData' user.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>

        <!-- <td>{{user.buyAmount}}</td>
        <td>{{user.sellAmount}}</td> -->
    </tr>

      {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="{% static 'main.js' %}"></script>
</body>
</html>